body {
    font-family: Arial;
    background: #d8d5f7;
    padding: 20px;
}

h1 {
    text-align: center;
    color: #6c63ff;
}

.task-input {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
}

input {
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #978080;
}

button {
    background: #b8b5ff;
    border: none;
    padding: 10px;
    border-radius: 8px;
    cursor: pointer;
}

button:hover {
    background: #9f9cff;
}

.board {
    display: flex;
    gap: 15px;
}

.column {
    flex: 1;
    background: #dabce0;
    padding: 10px;
    border-radius: 12px;
    min-height: 300px;
}

.column h2 {
    text-align: center;
}

.task {
    background: #d5baee;
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 8px;
    cursor: grab;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.task span {
    flex: 1;
}

.actions {
    display: flex;
    gap: 5px;
}

.task button {
    background: transparent;
    border: none;
    cursor: pointer;
}

.task button:hover {
    opacity: 0.6;
}
